.navbar {
  background-color: #f8f8f8;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #ccc;
}

.navbar-search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.navbar-search button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-login {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-signup {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-left: 1px;
  cursor: pointer;
}
